.content {
    padding-top: 10px;
  }
  .rows {
    display: flex;
  }
  .row {
    margin-top: 4px; 
    mat-form-field {
      width: 100%;
    }
  }
  .row-name {
    width: 69%;
    mat-form-field {
      width: 100%;
    }
  }
  .row-number {
    width: 15%;
    margin-left: 10px;
    mat-form-field {
      width: 100%;
    }
  }
  .row-category {
    display: flex;
    gap: 10px;
  
    mat-form-field {
      width: 100%;
    }
  }
  
  .action {
    padding: 0px 25px 20px;
    button {
      flex: 1;
    }
  }